<div class="section" (click)="toggleExpanded()">
  <div class="section__header">
    <div class="section__header__title">
      <i-lucide
        [img]="book"
        [size]="16"
        class="section__header__title-icon"
      ></i-lucide>

      <h1>{{ title }}</h1>
    </div>

    <i-lucide
      [img]="chevronUp"
      class="section__header__chevron"
      [ngClass]="{ rotate: isExpanded }"
    ></i-lucide>
  </div>
</div>

<app-videos
  *ngFor="let video of videos"
  [title]="video.title"
  [link]="video.link"
></app-videos>
