@import "../../../styles/_variables";
@import "../../../styles/_utilities";

.video {
  min-height: 25px;
  width: 100%;
  border: 1px solid $color-neural-600;
  border-radius: 5px;
  background-color: transparent;
  @include flex-center;
  gap: 5px;
  cursor: pointer;

  &__icon {
    width: 15px;
    height: 15px;
  }

  a {
    color: white;
    font-weight: 300;
    font-size: 12px;
  }
}
