$color-black: #1D1C18;
$color-green-01: #3ECF86;
$color-green-02: #038242;
$color-green-03: #41E091;
$color-neural-600: #525252;
$color-neural-900: #262626;

$screen-XSmall: 599.98px;
$screen-Small: 959.98px;
$screen-Medium: 1279.98px;
$screen-Large: 1919.98px;