@import '../../../styles/_variables';

.black {
    cursor: pointer;
    border-radius: 20px;
    font-weight: 500;
    background-color: transparent;
    color: $color-black;
    border: solid 1px $color-black;
    transition: 0.5s;

    &:hover {
        background-color: $color-black;
        color: $color-green-03;
    }
}

.green {
    cursor: pointer;
    border-radius: 20px;
    font-weight: 500;
    background-color: transparent;
    color: $color-green-03;
    border: solid 1px $color-green-03;
    transition: 0.5s;

    &:hover {
        background-color: $color-green-03;
        color: $color-black;
    }
}