@import "../../../styles/_utilities";
@import "../../../styles/_variables";

.info {
    @include flex-center;
    width: 90px;
    height: 25px;
    border: 1px solid $color-neural-600;
    background-color: $color-black;
    transition: 0.5s;
    border-radius: 5px;

    &:hover {
        border: 1px solid $color-green-01;
    }

    h1 {
        font-size: 10px;
        font-weight: 500;
        color: white;
    }
}